body {
    font-family: 'Roboto Slab', serif;
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 65px;

    color: rgb(120, 117, 117);
}

h3 {
    font-size: 20px;
    color: rgb(117, 113, 113);
}

h4 {
    color: rgb(117, 113, 113);
}


.orange-color {
    color: orange;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, red);
    padding: 20px 50px;
    border-radius: 35px;
    color: white;
    width: 700;

}

section {
    display: flex;

}

.haf-widht {
    width: 50%;
    padding: 5%;


}

.haf-widht img {
    size: 100%;

}

.about-me {
    background-image: url(images/shapes/7.png );
}

.box {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-left: 15%;
    font: color gray;
}

.card {
    width: 300px;
    text-align: center;
    margin-top: 30px;
    border: 50px soli white;
    border-radius: 10px;
    box-shadow: 10px 10px 50px gray;
    padding: 7px 10px;
    font-size: 10px;

}

.card img {
    width: 100%;

}

.text {
    padding: 10px;
    background-color: white;

}

.like {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 100px;
    text-align: center;
    font-size: 10px;
    box-shadow: 10px 10px 80px grey;
    padding: 10px 30px;
    border-radius: 5px;

}

.futer {
    text-align: center;
    font-size: 10px;

    background-color: black;
    padding: 10px 30px;
}

.gray-color {
    color: gray;

}